<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.powerflasher.fdt.ui.CompcGroup">
<stringAttribute key="ARGUMENTS" value="-target-player={playerVersion}&#10;-define+=VERSIONS::jspresso_version,'3.5-SNAPSHOT'&#10;-include-file+=defaults.css,{WORKSPACE_ABSOLUTE_PATH}/jspresso-framework/flex/src/main/resources/defaults.css&#10;-include-file+=assets/images/closeaccordion2.png,{WORKSPACE_ABSOLUTE_PATH}/jspresso-framework/flex/src/main/resources/assets/images/closeaccordion2.png&#10;-include-file+=assets/images/close.png,{WORKSPACE_ABSOLUTE_PATH}/jspresso-framework/flex/src/main/resources/assets/images/close.png&#10;-include-file+=assets/images/closeleft.png,{WORKSPACE_ABSOLUTE_PATH}/jspresso-framework/flex/src/main/resources/assets/images/closeleft.png&#10;-include-file+=assets/images/reset-16x16.png,{WORKSPACE_ABSOLUTE_PATH}/jspresso-framework/flex/src/main/resources/assets/images/reset-16x16.png&#10;"/>
<stringAttribute key="COMPILER_TECHNOLOGY" value="Flex SDK"/>
<stringAttribute key="LAUNCHER_DEPENDENCIES" value="[Self]"/>
<stringAttribute key="MAIN_CLASS" value=""/>
<stringAttribute key="OUTPUT" value="target/jspresso-flex.swc"/>
<booleanAttribute key="PASS_CP" value="true"/>
<booleanAttribute key="PASS_SWCS" value="true"/>
<stringAttribute key="PROJECT_NAME" value="jspresso-flex"/>
<stringAttribute key="bad_container_name" value="/jspresso-framework/.settings/fdtlaunch"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jspresso-flex"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
